@import "./CSS/Row.css";
@import "./CSS/PlayGround.css";
@import "./CSS/Overlay.css";

body {
  background-color: #121212;
  color: aliceblue;
}

div {
  align-content: center;
  justify-content: center;
}

button {
  font-size: 20px;
  background-color: hsl(349, 52%, 61%);
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  color: white;
  opacity: 2;
}

button:hover{
  background-color: hsl(349, 52%, 30%);
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
}
